%table.table.table-bordered.vh-100
  %thead
    %tr
      %th Activa
      %th Passiva
  %tbody
    %tr
      %td Bankguthaben: = activa
      %td Eigenkapital: = passiva
  %tfoot
    %tr
      %td Summe: = activa
      %td Summe: = passiva