= page_title t('create', model: Member.model_name.human)

%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to Member.model_name.human(count: 2), members_path
    %li.breadcrumb-item.active
      = t('breadcrumb_new')

= render 'form'
